*{
    margin: 0px;
}
.navbar h3 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style:normal;
    padding-left: 165px;
  }
.navbar{
    height: 100px;
    width: 100%;
    background-color:#11161d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}
.navbar>ul{
    padding-right: 165px;
}
.navbar>ul>li{
    display: inline;
}
.navbar>ul>li>a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 50px;
}
/* Hello welcome banner */
.welcome-banner{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 165px;
    background-color: #131f33;
    margin-top: 100px;
}
.hello{
    max-width: 500px;
}
.hello>h3{
    color: #EAB308;
    margin-bottom: 20px;
}
.hello>h1{
    color: white;
    font-size: 48px;
    margin-bottom: 20px;
}
.hello p{
    color: #6B7280;
    font-size: 16px;
    margin-bottom: 20px;
}
.contact-us{
    height: 43px;
    width: 123px;
    background-color:#EAB308 ;
    color: black;
    border: 0px;
}

/* about me section */
.About-me{
    height: 600px;
    display: flex;
    justify-content: space-between;
    padding: 0px 165px;
    background-color: #11161d;
}
.About-me-image-1{
    height: 480px;
    width: 456px;
    background-image: url(photos/Rectangle\ 1004.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0px;
}
.details-about{
    max-width: 500px;
    margin: auto 0px;
}
.details-about>h1{
    color: white;
    font-size: 48px;
    margin-bottom: 50px;
}
.details-about>p{
    color: #6B7280;
    font-size: 16px;
    margin-bottom: 30px;
}
/* My service sections */
.my-service{
    height: 400px;
    background-color: #131f33;
    padding: 90px 165px;
}
.my-service-text{
    color: white;
}
.my-service-text>h1{
    font-size: 48px;
    text-align: center;

}
.my-service-text>p{
    font-size: 14px;
    color: #6B7280;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.my-service-options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.variety-1{
    height: 200px;
    width: 200px;
    background-color: #11161d;
    text-align: center;
    padding: 20px;
}
.variety-1 h3{
    color: white;
}
.variety-1 >p{
    color: #6B7280;
}
.variety-2{
    height: 200px;
    width: 200px;
    background-color: #11161d;
    text-align: center;
    padding: 20px;
}
.variety-2 h3{
    color: white;
}
.variety-2 >p{
    color: #6B7280;
}
.variety-3{
    height: 200px;
    width: 200px;
    background-color: #11161d;
    text-align: center;
    padding: 20px;
}
.variety-3 h3{
    color: white;
}
.variety-3 >p{
    color: #6B7280;
}